.button {
    -fx-border-color: black;
}

.button:hover {
    -fx-opacity: 0.8;
}

.cancelButton {
    -fx-background-color: #b41e1e;
}

.actionButton {
    -fx-background-color: #32961e;
}

.neutralButton {
    -fx-background-color: #3264b4;
}