

.button:hover {
    -fx-opacity: 0.8;
}

.button {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16;
}

.cancelButton {
    -fx-background-color: #b41e1e;
}

.actionButton {
    -fx-background-color: #32961e;
}

.neutralButton {
    -fx-background-color: #3264b4;
}